<script>
// Save data
$('#btnsave').click(function(){
    // console.log("Button Save clicked")
    output = "";
    let sid = $('#stuid').val();
    let n = $('#nameid').val();
    let e = $('#emailid').val();
    let c = $('#courseid').val();

    if(n == ""){
        console.log("Please Enter Name");
    }
    else if(e == ""){
        console.log("Please Enter Email");
    }
    else if(c == ""){
        console.log("Please Enter Course");
    }
    else{
        // console.log(n, e, c);
        mydata = {stuid:sid, name:n, email:e, course:c};
        // console.log(mydata)
        $.ajax({
            url: "{% url 'save' %}",
            method: "POST",
            data: mydata,

            success:function(data){
                // console.log(data.status);
                x = data.student_data;
                if(data.status == 'Data Saved'){
                    console.log('Data Submitted Successfully');
                    for(i=0; i<x.length; i++){
                        output += "<tr><td>" + x[i].id + 
                            "</td><td>" + x[i].name +
                            "</td><td>" + x[i].email +
                            "</td><td>" + x[i].course +
                            "</td><td> <input type='button' value='Edit' class='btn btn-warning btn-sm btn-edit' data-sid=" + x[i].id + "> <input type='button' value='Delete' class='btn btn-danger btn-sm btn-del' data-sid=" + x[i].id + ">"                             
                    }
                    $('#tbody').html(output);
                    $('form')[0].reset();
                }
                if(data.status == 'Unable To Save'){
                    console.log('Data Not Saved');
                }                
            }
        });
    }
})
// delete function
$('#tbody').on("click", ".btn-del", function(){
    console.log('Delete button clicked');
    let id = $(this).attr('data-sid');

    mydata = {sid:id};
    mythis = this;

    $.ajax({
        url: "{% url 'delete' %}",
        method: "POST",
        data: mydata,

        success: function(data){
            console.log(data);
            if(data.status == 1){
                console.log("Data Deleted");
                $(mythis).closest("tr").fadeOut();
            }
            if(data.status == 0){
                console.log("Unable to Delete Data");
                $(mythis).closest("tr").fadeOut();
            }
        },
    })
})

// edit data
$('#tbody').on("click", ".btn-edit", function(){
    console.log('Edit button clicked');
    let id = $(this).attr('data-sid');

    mydata = {sid:id};
    mythis = this;

    $.ajax({
        url: "{% url 'edit' %}",
        method: "POST",
        data: mydata,

        success: function(data){
            // console.log(data);
            $('#stuid').val(data.id);
            $('#nameid').val(data.name);
            $('#emailid').val(data.email);
            $('#courseid').val(data.course);
        },
    })
})

</script>